.hidden {
    display: none;
  }
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather{
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: 500;
}